**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.vs
**/.vscode
**/*.*proj.user
**/bin
**/obj
**/Dockerfile*
**/docker-compose*
**/hots.db
**/hots.db-shm
**/hots.db-wal
**/*.db
**/*.db-shm
**/*.db-wal
**/certs
**/.aspnet
**/generate-certs.*
